---
import "../styles/index.css";
let titulo = "Blog Personal";
let saludo = "Bienvenido a mi blog";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{titulo}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/about/">Acerca de Nosotros</a></li>
        <li><a href="/blog/">Mis blogs</a></li>
      </ul>
    </nav>
    <h1>{saludo}</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, iste.
      Asperiores ratione voluptatum similique laudantium nisi ea cum labore
      fugiat impedit, eius, voluptatem quos ex at minus neque rem! Facere!
    </p>
  </body>
</html>
